<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Lobster VietNam
		link(rel="stylesheet", href="./css/main.css")

	body

		.container
			.row
				.col
					.boxgiaca
						.boxmoi
							h1 IphoneX
							.gia 3000$
						.bodyad
							p Quá rẻ
							p
								a(href="#") Xúc


